<template>
  <div>
    <h4>Laje {{laje.id}}</h4>

    <table style="width:100%">
      <caption>Cargas Permanentes Laje {{laje.id}}, d= {{laje.d}}, h = {{laje.h}}</caption>
      <tr>
        <th>Carga</th>
        <th>Espessura (m)</th>
        <th>Densidade (kN/m3)</th>
        <th>Total (kN/m2)</th>
      </tr>
      <tr>
        <td>Peso próprio</td>
        <td>{{laje.h}}</td>
        <td>{{dados.densidades.concreto}}</td>
        <td>{{pesoLaje}}</td>
      </tr>
      <tr>
        <td>Contrapiso</td>
        <td>{{dados.espessuras.contrapiso}}</td>
        <td>{{dados.densidades.contrapiso}}</td>
        <td>{{pesoContrapiso}}</td>
      </tr>
      <tr>
        <td>Piso</td>
        <td></td>
        <td></td>
        <td>{{dados.densidades.piso}}</td>
      </tr>
      <tr>
        <th>Total</th>
        <th></th>
        <th></th>
        <th>{{(pesoLaje + pesoContrapiso + dados.densidades.piso).toFixed(2)}}</th>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  props: ["laje", "dados"],
  data() {
    return {
      pesoLaje: this.laje.h * this.dados.densidades.concreto,
      pesoContrapiso:
        this.dados.espessuras.contrapiso * this.dados.densidades.contrapiso,
      cargaPermanente: this.pesoLaje + this.pesoContrapiso
    };
  }
};
</script>

<style scoped>
td {
  text-align: center;
}
</style>